@{
    ViewData["Title"] = "Home Page";
}


    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">

                <h2>Test project</h2>

                <p><strong>Project is organized as follows:</strong></p>
                <ul>
                    <li>
                        Autofac for dependency injections
                    </li>
                    <li>
                        <strong>TestProject.Client</strong>
                        <br />Views and controllers of main application
                    </li>
                    <li>
                        <strong>TestProject.Contracts</strong>
                        <br />Interfaces and Entities
                    </li>
                    <li>
                        <strong>TestProject.Domain</strong>
                        <br />Bussines logic and service layer code
                    </li>
                    <li>
                        <strong>TestProject.Infrastructure</strong>
                        <br />All code which communicates with database is here.
                        <br />I've used linq and EF code first
                    </li>
                </ul>              
            </hgroup>

        </div>
    </section>
